/* Variables de colores a usar */
:root {
    --color-naranja: rgb(212, 42, 0);

    /* Colores del casco */
    --color-casco-claro: rgb(180, 180, 180);
    --color-casco: rgb(139, 141, 138);
    --color-casco-sombra: rgb(116, 116, 116);
    --color-casco-black: rgb(85, 85, 85);
}

* {
    background-color: black;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.align{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#circulo-naranja {
    width:  80vh;
    height: 80vh;
    background: var(--color-naranja);
    border-radius: 50%;
    perspective: 700px;
}

#top-casco {
    position: relative;
    top: 6%;
    width: 53%;  
    height: 30%;

    background: var(--color-casco);
    border-radius: 1500px 1500px 0 0;
}

::after, ::before {
    content: " ";    
    text-align: center;
    display: block;
}

#top-casco::before {

    /* Forma */
    width: 10%;
    height: 104%;
    margin-left: 45%;
    background: var(--color-casco-sombra);

    /* Posicion */
    position: relative;
    top: -0.5%;
}

#top-casco::after {

    /* Forma */
    width: 6%;
    height: 104%;
    margin-left: 47%;
    background: var(--color-casco);

    /* Posicion */
    position: relative;
    top: -105%;
}


/* Curva Normal */
#frente-top {
    height: 11%;
    width:  53%;
    border-radius: 50% 50% 50% 50%;
    
    position: relative;
    top: -43.8%;
    background: var(--color-casco);
}

/* Curva Clara */
#frente::after {
    height: 130%;
    width:  100%;
    border-radius: 28% 30% 50% 50%;
    
    position: relative;
    top: -211.5%;
    left: 0%;
    background: var(--color-casco-claro);
}

/* Curva Oscura */
#frente::before {
    height: 120%;
    width:  100%;
    border-radius: 50% 50% 50% 50%;
    
    position: relative;
    top: -75%;
    background: var(--color-casco-sombra);
}


/* ---- Franja superior del casco ----*/

/* Parte oscura */
#franja-down {
    height: 20%;
    width:  5.3%;

    position: relative;
    top: -61.5%;

    background: var(--color-casco-sombra);
}

/* Parte clara */
#franja-down::before {
    height: 114%;
    width:  60%;
    position: relative;
    left: 20%;
 
    background:var(--color-casco);
}

/* Flecha */
#franja-down::after {
    height: 17%;
    width:  100%;

    position: relative;
    top: -25%;
    left: 0;
    border-radius: 0 0 50% 50%;

    background:var(--color-casco-sombra);
}

/* Linea de frente */
#frente {
    height: 20%;
    width:  96%;
    border-radius: 0 0 50% 50%;

    position: relative;
    top: -82%;
    left: 2%;

    background: var(--color-casco);
}

#cara {
    height: 40%;
    width: 55%;

    position: relative;
    top: -2.5%;
    left: 0.1%;

    border-radius: 30% 30% 0 0;
    background: var(--color-casco);

    perspective: 700px;

    transform: rotateX(5deg);
}

#visor {
    height: 100%;
    width:  90%;

    position: relative;
    top: 10%;
    left: 5%;

    border-radius: 25% 26% 30% 30%;
}

/* ---- Cachetes ---- */

.cachetes-top {
    width: 64.5%;
    height: 85%;

    position: relative;
    top: -68%;

    perspective: 700px;
    background-color: var(--color-casco);
}

#cachete-left {
    top: -76%;
    right: 11%;

    transform: 
        rotateX(-12deg)
        rotateY(-45deg)
    ;

    border-radius: 0 5% 28% 0;
}

#cachete-right {
    top: -230%;
    left: 46%;
    
    transform: 
        rotateX(-12deg)
        rotateY(45deg)
    ;

    border-radius: 5% 0 0 28%;
}

#visor-down {

    width: 12.6%;
    height: 30%;

    position: relative;
    bottom: 332.8%;
    left: 43.45%;

    background: black;
}

#cachete-left::after {

    width: 90%;
    height: 90%;

    position: relative;
    top: -17.5%;
    right: 5%;

    transform: 
        rotateX(25deg)
        rotateY(10deg)
    ;

    border-radius: 0 100% 5% 0;
    background: var(--color-casco-black);
}

#cachete-left::before {
    width: 25%;
    height: 30%;
    
    position: relative;
    top: 66%;
    left: 72%;

    transform: 
        rotatez(40deg)
    ;

    border-radius: 0 30% 0 0;

    background: var(--color-casco);
}

#cachete-right::after {
    width: 90%;
    height: 90%;

    position: relative;
    top: -19%;
    left: 14%;

    transform: 
        rotateX(20deg)
        rotateY(-10deg)
    ;

    border-radius: 100% 0 0 5%;
    background: var(--color-casco-black);
}

#cachete-right::before {
    width: 25%;
    height: 30%;
    
    position: relative;
    top: 64.5%;
    left: 2%;

    transform: 
        rotatez(-40deg)
    ;

    border-radius: 30% 0 0 0;

    background: var(--color-casco);
}


.inner-cachetes {
    height: 35%;
    width:  1px;

	border-top: 11vh solid transparent;
    position: relative;
    background-color: transparent;
}

#inner-cachete-left {
    bottom: 154.5%;
    left: 0.8%;
	
    border-left: 6vh solid var(--color-casco-sombra);
}

#inner-cachete-right {
    bottom: 311%;
    left: 84.5%;
	
    border-right: 6vh solid var(--color-casco-sombra);
}

#inner-cachete-left::before, #inner-cachete-right::before  {
    width: 16000%;
    height: 131.5%;

    position: relative;
    background: var(--color-casco-claro);
}

#inner-cachete-left::before {
    top: -3%;
    right: 5500%;

    transform: 
        rotateY(-55deg)
        rotateZ(15deg)
    ;

    border-radius: 0 100% 0 0;
}

#inner-cachete-right::before {
    height: 132.5%;
    top: -3%;
    right: 10300%;

    transform: 
        rotateY(55deg)
        rotateZ(-15deg)
    ;

    border-radius: 100% 0 0 0;
}

#inner-cachete-left::after, #inner-cachete-right::after {
    width: 0%;
    height: 170%;

    position: relative;
    bottom: 245%;

	border-bottom: 3.8vh solid transparent;
}

#inner-cachete-left::after{
    right: 5280%;
    border-right: 1.5vh solid var(--color-casco-claro);
}

#inner-cachete-right::after{
    left: 4280%;
    border-left: 1.5vh solid var(--color-casco-claro);
}

/* ---- Orejas ---- */

.orejas {
    width: 5%;
    height: 100%;
    
    position: relative;
    background: var(--color-casco);
}

#oreja-left {
    top: 150%;
    right: 6%;

    border-bottom-left-radius: 65%;
}

#oreja-right {
    top: 50%;
    left: 100.2%;
    
    border-bottom-right-radius: 65%;
}

#oreja-right::before, #oreja-left::before {
    height: 110%;
    width: 140%;

    position: relative;
    top: -80%;

    background: var(--color-casco-claro);
}

#oreja-left::before {
    right: 30%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 5%;
}

#oreja-right::before {
    top: -87%;
    left: -5%;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 5%;
}

#oreja-right::after, #oreja-left::after {
    height: 160%;
    width: 50%;

    position: relative;
    top: -294%;

    background: var(--color-casco);
}

#oreja-left::after {
    left: 81.5%;
    border-top-left-radius: 100%;
}

#oreja-right::after {
    top: -300%;
    right: 15.5%;

    border-top-right-radius: 100%;
}

.oreja-flat {
    width: 140%;
    height: 70%;

    position: relative;
    top: -230%;

    background: rgb(175, 175, 175);
}

#oreja-flat-left {

    right: 15%;
    transform: 
        rotateX(60deg)
        rotateZ(5deg);
    ;
    
    border-top-left-radius: 15%;
}

#oreja-flat-right {
    width: 135%;
    top: -235%;
    right: 13%;
    
    transform: 
        rotateX(60deg)
        rotateZ(-5deg);
    ;
    
    border-top-right-radius: 15%;
}

/* ------------ Adornos de oreja ------------ */

/* Adornos de en medio*/
.oreja-adorno {
    width: 50%;
    height: 125%;

    position: relative;
    top: 183%;

    background: var(--color-casco-sombra);
}

#oreja-adorno-left {
    left: 48%; 
    transform: rotateZ(-4.5deg);
}


#oreja-adorno-right {
    left: 1%; 
    transform: rotateZ(4.6deg);
}


/* Adornos bajos */

#oreja-adorno-left::before, #oreja-adorno-right::before {
    height: 30%;
    width: 100%;

    position: relative;
    top: 118%;

    background: rgb(50, 50, 50);
}

#oreja-adorno-left::before{
    right: 3%;
}

#oreja-adorno-right::before{
    top: 116%;
    left: 1.5%;
}

/* Adornos altos */

#oreja-adorno-left::after, #oreja-adorno-right::after {
    height: 14%;
    width: 100%;

    position: relative;
    top: -60%;

    background: var(--color-casco-black);
}

a {
    margin-top: 30px;
    color: white;
}